@model Person
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<td>@Model.Name</td>
<td>@Model.PhoneNr</td>
<td>@Model.City</td>


<!--div class="container">
    <div class="row">
        <div class="col-*-*">@Model.Name</div>
        <div class="col-*-*">@Model.PhoneNr<</div>
        <div class="col-*-*">@Model.City<</div>
    </div>
   </div>-->

